<div class="container">
  <h4>Plan Your Trip Now</h4>
  <h1>Quick & Easy Car Rental</h1>
  <div class="detail-images row">
    <div class="col-lg-4 col-md-12">
      <img src="../../../assets/images/plan_car.png" alt="plan image" />
      <h3>Choose Car</h3>
      <p>
        Explore a wide selection of cars on our rental site, where you'll find
        the perfect vehicle to suit your needs for your next adventure
      </p>
    </div>
    <div class="col-lg-4 col-md-12">
      <img src="../../../assets/images/plan_contact.png" alt="plan image" />
      <h3>Plan Ride</h3>
      <p>
        Effortlessly plan your ride with our intuitive platform, enabling you to
        customize every aspect from start to finish
      </p>
    </div>
    <div class="col-lg-4 col-md-12">
      <img src="../../../assets/images/plan_drive.png" alt="plan image" />
      <h3>Hit The Road</h3>
      <p>
        Experience unparalleled comfort and delight in your chosen car as you
        hit the road, indulging in a journey that combines style and luxury
      </p>
    </div>
  </div>
</div>
