.navbar {
  height: 100px;
}

.navbar-brand {
  display: flex;
  justify-content: space-between;
}

.navbar-brand img {
  height: 60px;
  width: 60px;
}

.navbar-brand div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

.navbar-brand div p {
  margin: 0;
  font-size: 20px;
}

.navbar-brand div p:first-child {
  font-weight: 900;
  letter-spacing: 2px;
  font-size: 1.1em;
  font-family: "Noto Sans JP", sans-serif;
  font-family: "Rubik", sans-serif;
  margin-bottom: -10px;
}

.navbar-brand div p:last-child {
  letter-spacing: -1px;
}

.navbar-nav {
  margin-left: auto;
}

.nav-item {
  font-weight: bold;
  font-size: 0.94em;
  letter-spacing: 0px;
  padding: 5px;
}

.account-section .nav-item:first-child {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.account-section .nav-item:last-child {
  background-color: #ff3715;
  border-radius: 3px;
  padding: 5px 12px 5px 12px;
  margin-left: 10px;
  box-shadow: 0px 4px 8px -3px #ff3715;
  transition: all 0.3s ease;
}

.account-section .nav-item:last-child:hover {
  box-shadow: 0px 6px 10px -3px #cc2d0f;
}

.account-section .nav-item:last-child a {
  color: white;
}

.nav-link {
  color: black;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #ff3715;
}

footer .row {
  padding: 100px;
  padding-inline: 150px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.footer-col {
  text-align: center;
}

.footer-col p:first-child:not(.workingHours) {
  font-weight: bold;
  font-size: 1.5em;
  letter-spacing: 0px;
  margin-bottom: 20px;
  text-align: center;
}

.footer-col p:first-child span {
  font-weight: normal;
}

.footer-col:first-child p:nth-child(2) {
  width: 80%;
  margin: auto;
  color: gray;
  text-align: justify;
}

.footer-col:first-child div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
}

.footer-col:first-child div a {
  color: black;
  text-decoration: none;
  transition: color 0.3s ease;
  font-weight: 700;
}

.footer-col:first-child div a:hover {
  color: #ff3715;
  cursor: pointer;
}

.footer-col:nth-child(2) ul {
  list-style: none;
  padding-left: 5px;
  font-size: 1.1rem;
  letter-spacing: 1px;
}

.footer-col:nth-child(2) ul li {
  color: gray;
  padding: 3px 0px;
  text-transform: capitalize;
  transition: color 0.3s ease;
}

.footer-col:nth-child(2) ul li:hover {
  color: #ff3715;
  cursor: pointer;
}

.workingHours {
  color: gray;
  text-align: start;
  padding-left: 5px;
}

.form-group button {
  width: 100%;
  border-radius: 5px;
  margin-top: 0.5rem;
  background-color: #ff4d30;
  border: none;
  box-shadow: 0 10px 15px rgba(255, 83, 48, 0.35);
  color: #fff;
  cursor: pointer;
  font-family: Rubik, sans-serif;
  font-weight: 500;
  padding: 0.7rem;
  border-radius: 2px;
  transition: all 0.3s;
}

.footer-col:nth-child(4) p:nth-child(2) {
  margin: auto;
  color: gray;
  text-align: justify;
  width: 80%;
}

.form-group button:hover {
  box-shadow: 0px 6px 10px -3px #cc2d0f;
}

.form-group input {
  margin-top: 0.5rem;
  width: 100%;
  border-radius: 2px;
  background-color: lightgray;
}
