<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="/assets/images/site_icon.png" />
      <div>
        <p>CAR</p>
        <p>Rental</p>
      </div>
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#"> Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Models</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Reviews</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Meet Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
      <ul class="navbar-nav account-section">
        <li class="nav-item">
          <a class="nav-link" href="#">Sign in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Register</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<app-homepage-wrap></app-homepage-wrap>

<footer>
  <div class="row">
    <div class="col-md-3 col-sm-6 footer-col">
      <p>CAR <span>Rental</span></p>
      <p>
        We offers a big range of vehicles for all your driving needs. We have
        the perfect car to meet your needs.
      </p>
      <div class="infoLinks">
        <a><i class="fa-solid fa-phone"></i> &nbsp; (123)-456-789</a>
        <a href="mailto: email@gmail.com">
          <i class="fa-solid fa-envelope"></i>
          &nbsp; email@gmail.com</a
        >
      </div>
    </div>
    <div class="col-md-3 col-sm-6 footer-col">
      <p>COMPANY</p>
      <ul>
        <li>About</li>
        <li>Models</li>
        <li>Reviews</li>
        <li>Meet Us</li>
        <li>Contact</li>
      </ul>
    </div>
    <div class="col-md-3 col-sm-6 footer-col">
      <p>WORKING HOURS</p>
      <p class="workingHours">Mon - Fri: 9:00AM - 9:00PM</p>
      <p class="workingHours">Sat: 9:00AM - 19:00PM</p>
      <p class="workingHours">Sun: Closed</p>
    </div>
    <div class="col-md-3 col-sm-6 footer-col">
      <p>SUBSCRIBE HERE</p>
      <p>
        Enter your Email below to keep yourself updated with the latest news &
        updates
      </p>
      <div class="form-group">
        <input type="email" class="form-control" placeholder="Email" />
        <button class="btn btn-primary">Subscribe</button>
      </div>
    </div>
  </div>
</footer>
