<div class="wrap">
  <h5>What our customers say</h5>
  <h1>Client's reviews</h1>
  <p class="description">
    Discover the positive impact we've made on the our clients by reading
    through their testimonials. Our clients have experienced our service and
    results, and they're eager to share their positive experiences with you.
  </p>
  <div class="reviewWrap">
    <div class="review">
      <p class="reviewText">
        "We rented a car from this website and had an amazing experience! The
        booking was easy and the rental rates were very affordable. "
      </p>
      <div class="userprofile">
        <img src="/assets/images/profilepics/harry.jpg" alt="profile picture" />
        <div>
          <h5>Harry Potter</h5>
          <p>Hogwarts</p>
        </div>
        <span class="quotes-icon"><i class="fa-solid fa-quote-right"></i></span>
      </div>
    </div>
    <div class="review">
      <p class="reviewText">
        "The car was in great condition and made our trip even better. Highly
        recommend for this car rental website!"
      </p>
      <div class="userprofile">
        <img src="/assets/images/profilepics/ron.jpg" alt="profile picture" />
        <div>
          <h5>Ron Rizzly</h5>
          <p>Hogwarts</p>
        </div>
        <span class="quotes-icon"><i class="fa-solid fa-quote-right"></i></span>
      </div>
    </div>
  </div>
</div>
