<div class="container">
  <h3>Book a car</h3>
  <div class="form">
    <form action="post">
      <div class="cartype">
        <label>Select Car Type</label>
        <select>
          <option value="" selected disabled hidden>Select car type</option>
          <option *ngFor="let car of cars | async" value="{{ car.model }}">
            {{ car.model }}
          </option>
        </select>
      </div>

      <div class="pickUpPoint">
        <label>Pick-up Location</label>
        <select>
          <option value="" selected disabled hidden>
            Select pick up location
          </option>
          <option *ngFor="let city of cities | async" value="{{ city.name }}">
            {{ city.name }}
          </option>
        </select>
      </div>

      <div class="dropOffPoint">
        <label>Drop-off Location</label>
        <select>
          <option value="" selected disabled hidden>
            Select drop off location
          </option>
          <option *ngFor="let city of cities | async" value="{{ city.name }}">
            {{ city.name }}
          </option>
        </select>
      </div>

      <div class="pickUpDate">
        <label for="startDate">Pick-up Date</label>
        <input
          type="date"
          [min]="today"
          #startDateInput
          (change)="updateMinDate(startDateInput.value)"
        />
      </div>

      <div class="pickUpDate">
        <label for="endDate">Drop-off Date</label>
        <input type="date" [min]="minDate" />
      </div>

      <div class="post">
        <a type="submit">Book Now</a>
      </div>
    </form>
  </div>
</div>
